body{
  background: url('/assets/background.jpg');
}
.container{

}
.bloco-login{
  margin: 15% 33.3%;
  min-height: 200px;
  border: solid 1px #FFF;
  background: rgba(0, 0, 0, 0.7)
}
.bloco-login h3{
  color: #FFF;
}
.bloco-login input{
  height: 30px;
  border: none;
  margin: 10px 12.3%;
}
.bloco-login .submit{
  color: #FFF;
  float: right;
  font-size: 8pt;
  font-weight: bold;
  background: #03C103;
  margin-bottom: 20px;
}
.bloco-competicao{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.bloco-competicao h1{
  color: #FFF;
  margin: 40px;
}
.competicao-item{
  padding: 0px;
  margin: 10px 4.1%;
  border: solid 1px #FFF;
}
.competicao-item:hover{
  color: #FFF;
  border: solid 1px #FFF;
  background: rgba(51, 124, 187, 0.7);
}
.competicao-item span{
  color: #FFF;
  width: 100%;
  float: left;
  font-size: 14pt;
  margin: 10px 0px;
}
.competicao-item img{
  width: 40px;
}
@media (max-width: 991px){
  .bloco-login input{
    margin: 5px 0px !important;
  }
  .bloco-login .submit{
    margin: 5px 0% !important;
  }
}
